Debug
Release
bin
Bin
obj
*.pdb
*.obj
*.suo
*.vs10x
*.csproj.user
*.vbproj.user
*.dtproj.user
*.vspscc
*.sln
*.exe
log.txt
log.txt.*
!.nuget/*
*.Publish.xml
*Test-Results.xml
!Shared/NUnit/bin
*.lst
_ReSharper.*/
*resharper.user
_ReSharper*
*.resharper.user
release/*
*.orig

